{% extends 'base.html.twig' %}

{% block title %}Hello R@H!{% endblock %}

{% block body %}

    <table class="table js-datatable">
        <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Description</th>
        </tr>
        </thead>

        <tbody>
        {% for e in private %}
            <tr>
                <td>
                    {{ e.title }}
                </td>
                <td>
                    {{ e['Start Date'] }}
                </td>
                <td>
                    {{ e['Short Description'] }}
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    {#    {% for e in private %} #}
    {#        {{ dump(e) }} #}
    {#    {% endfor %} #}


{% endblock %}
